# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
.metals
.bloop
elpa
workspace
eclipse.jdt.ls
target
bin
node_modules
.emacs.d
emacs.d
/start-emacs-my-config.sh
.elixir_ls